:root {
  --font-family: "Press Start 2P", cursive;
}
/*Generic Styles*/
html {
  font-size: 62.5%;
}

li {
  list-style: none;
}

ul {
  margin-top: 0;
}

body {
  background-image: url("../images/bgPokedex.jpg");
  min-height: 100%;
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  background-repeat: repeat-x;
  font-family: var(--font-family);
  text-align: center;
}

/*Page Heading Styles */
.pokedex-heading {
  width: 850px;
  height: auto;
}
.logo-header {
  height: 800px;
}
.pokemon-list {
  margin-top: -287px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.pokemon-button {
  text-transform: uppercase;
  width: 100%;
  min-width: 250px;
  max-width: 300px;
  padding: 16px 18px;
  background-color: #d2a813;
  background-color: #fbab7e;
  background-color: #fad961;
  background-color: #fee140;
  background-color: #d9afd9;
  background-color: #fbab7e;
  background-color: #ffe53b;
  background-image: linear-gradient(147deg, #ffe53b 0%, #ff2525 74%);
  box-shadow: 2px 2px;
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.list-group-item {
  background-color: rgba(24, 26, 27, 0);
  border: currentColor;
}

/*modal section*/
.modal-content {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background-color: #d8ba4f;
  background-image: linear-gradient(90deg, #d8ba4f 0%, #f76b1c 100%);
  padding: 15px;
  width: 350px;
  height: 350px;
  border-radius: 11px;
  max-width: 700px;
  text-align: left;
  border: 2px solid gold;
}

.modal-dialog {
  top: 25%;
}
.modal-title {
  color: black;
  margin-top: 0;
  text-transform: uppercase;
  position: relative;
  bottom: 5%;
  font-size: 2.7rem;
}

.modal-body {
  width: 250px;
  height: 250px;
}

@media all and (max-width: 761px) {
  .pokedex-heading {
    position: relative;
    right: 12%;
  }
  .pokedex-heading {
    width: 658px;
    height: auto;
  }
}

@media all and (max-width: 507px) {
  .pokedex-heading {
    position: relative;
    right: 11%;
  }
  .pokedex-heading {
    width: 588px;
    height: auto;
  }
}
